<!--For admin only-->
<!--<article id="add-post"></article>-->
<!--<script>-->
<!--$('#add-post').load('templates/addPost.html', function() {-->

<!--});-->
<!--</script>-->

<article id="posted"></article>
<h2>{{title}}</h2>
<span>Posted: {{date}}</span>
<p>{{content}}</p>

<!--<div id="post-comments"></div>-->
<!--<h2>Comments</h2>-->
<!--{{#comments}}-->
    <!--<h2>{{comments.author}}</h2>-->
    <!--<span>Posted: {{comments.date}}</span>-->
    <!--<div>{{comments.content}}</div>-->
<!--{{/comments}}-->

<!--For logged users only-->
<!--<div id="add-comment">-->
    <!--<h2>Add comment</h2>-->
    <!--<textarea></textarea>-->
    <!--<button type="submit">Submit</button>-->
<!--</div>-->
<!---->